PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=eternalblue_db
DB_USER=eternalblue
DB_PASSWORD=9/11WatchOut
JWT_SECRET=pick_a_long_random_string_here
NODE_ENV=development
DIGEST_FLUSH_INTERVAL_MS=60000
SEPOLIA_RPC_URL=
CONTRACT_ADDRESS=
WALLET_PRIVATE_KEY=